.homeContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.homeTitle {
  width: 1024px;
  font-size: 20px;
}
.navhead {
  background-image: url("https://images.pexels.com/photos/1167021/pexels-photo-1167021.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 20px;
}
